<?xml version="1.0" encoding="utf-8"?>
<!--
    autor: @romellfudi
    date: 2023-03-16
    version: 1.0.a
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imdbkata">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/imdb"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IMDBKATA">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.IMDBKATA.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>